<%= link_to 'New Post', new_post_path %>
<%= link_to 'All', posts_path %>
<% Post.statuses.keys.each do |name| %>
  <%= link_to name, posts_path(status: name) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

